@*Reference Link: https://github.com/aarad-ac/EFCore
Reference Link: https://github.com/aarad-ac/AzureStorageAndMigrations*@
@{

    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<body>
    <header>
        <h1>Welcome to Assignment 2.</h1><br>
        Group Members: <br>
        1. Jay Panchal (panc0047algonquinlive.com) (040980873) <br>
        2. Saiharshal Nadiminti (nadi0009@algonquinlive.com) (040982223)
                        

    </header>
    <div class="content">

        <h1>This is Assignment 2, navigate to your page of choice!</h1>

    </div>
    
</body>
</html>
