p {
  padding: 15px;
}

.content {
  font: "Staatliches";
  word-wrap: break-word;
  color: black;
  line-height: 50px;
  padding: 20px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  font-size: 22px;
  background-color: #ffcc66;
  background-size: 100% 100%;
}

.footer {
  color: black;
  line-height: 1.5em;
  background-color: #ffcc66;
  padding: 20px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  height: 100px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.table {
  margin: 0 auto;
  width: 500px;
  word-spacing: 20px;
}

.header {
  color: black;
  border-color: black;
  text-align: center;
  height: 150px;
  font-size: 40px;
  border-width: 2px;
  border-style: solid;
  background-size: 10% 70%;
  background-repeat: no-repeat;
  background-position: right-top;
  backface-visibility: 50%;
  background-color: #ffcc66;
  background-image: url(profilepic2.jpg);
  background-size: 10% 100%;
	wi
}

.menu {
  color: black;
  line-height: 1.2em;
  padding: 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 55px;
  margin-left: 900px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-size: 20px;
}
